#app > .v-application.transparent
    background: transparent

#widget-view
    position relative
    height 100%
    max-height 100vh
    max-width 100vw
    overflow hidden
    padding 0


#widget-view.responsive
    .widget__wrapper
        width 100%
        max-height 100vh
        max-width 100vh

#widget-view.full-screen
    .widget__wrapper
        height 100vh
        width 100vw

#widget-view.debug-mode
    border 1px solid green
    border-top 0
    border-left 0    

    .debug__size
        position absolute
        bottom 0
        right -1px
        border-top-left-radius: 6px

        // bottom -1.5em
        // border-bottom-left-radius: 6px
        // border-bottom-right-radius: 6px
