v-container#widget-view(fluid :class="{responsive: item && item.type.responsive, 'full-screen': item && item.type.fullScreen, 'debug-mode': debugMode}")
    v-row.fill-height(v-if="item" no-gutters :justify="item.position.x" :align="item.position.y"): v-col.widget__wrapper(cols="auto")
        component(ref="widget" :is="'w-'+item.type.name" :item="item")
    .debug__size.green.white--text.px-2(v-if="debugMode") {{size.width}} x {{size.height}}
