v-container#register(fluid fill-height)
    v-layout(align-center justify-center)
        v-flex(xs12 sm9 md4)
            v-card.elevation-8
                v-card-title Register
                v-card-text
                    v-form(@submit.prevent="register")
                        v-text-field(
                            ref="username"
                            name="username"
                            prepend-icon="person"
                            v-model="userData.username"
                            label="Имя пользователя"
                            type="text"
                            v-validate="'required|min:3|alpha_num'"
                            :error-messages="errors.collect('username')"
                            @focus="removeErrors('username')" @blur="checkExists('username')"
                        )
                        v-text-field(
                            name="email"
                            prepend-icon="mail"
                            v-model="userData.email"
                            label="E-mail"
                            type="email"
                            v-validate="'required|email'"
                            :error-messages="errors.collect('email')"
                            @focus="removeErrors('email')" @blur="checkExists('email')"
                        )
                        v-text-field(
                            ref="password"
                            name="password"
                            prepend-icon="lock"
                            v-model="userData.password"
                            label="Пароль"
                            type="password"
                            v-validate="'required|min:3'"
                            :error-messages="errors.collect('password')"
                            @focus="removeErrors('password')"
                        )
                        v-text-field(
                            name="password2"
                            prepend-icon="void"
                            v-model="userData.password2"
                            label="Ещё раз пароль"
                            type="password"
                            v-validate="'required|confirmed:password'"
                            :error-messages="errors.collect('password2')"
                            @focus="removeErrors('password2')"
                        )
                v-card-actions.justify-center
                    v-btn(text @click="register") Создать аккаунт

            v-layout(my-4 justify-center)
                v-btn(:to="{name: 'login'}" text small color="primary") Не создавать, я всё вспомнил!
