v-container#poll(fluid)
    v-row.my-4(v-if="loading" justify="center")
        v-col(cols="auto"): v-progress-circular(indeterminate size="50")

    v-row(v-if="!loading && isAllowed" justify="center")
        v-col.py-2(cols=12 sm=9 md=7)
            h2.text-center {{item.title || "Какой-то опрос"}}

        v-col(cols=12): router-view

    v-row(v-if="!loading && !isAllowed" justify="center")
        v-col(cols="auto" style="line-height: 100px")
            h2 Можно только сабам
        v-col(cols=12)
        v-col(cols=6): iframe#video-witcher-metal(width="100%" height="400" :src="videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
