#poll .poll__view
    .poll
        &__games
            .v-chip--small
                height: 17px!important

            .v-chip__content
                padding 0 8px


        &__results
            &__option__percent
                line-height 30px
                font-size 16px
                font-weight bold
                text-align right
