v-row.poll__view(justify="center")
    v-col.py-2(cols=12 sm=9 md=7)
        v-row(align-center)
            v-spacer
            v-img.circle.mx-2(:src="owner.twitch.profile_image_url" aspect-ratio="1" style="max-width: 2.5em")
            span {{owner.twitch.display_name}}
        div.poll__description.mt-2(v-if="item.description" v-html="description")
    
    v-col.py-2(v-if="canEdit" cols=12 sm=9 md=7)
        v-card
            v-card-text: v-row(align="center" gutters=1)
                v-col.pa-2(cols=6)
                    //- v-menu(v-model="dateMenu1")
                        template(v-slot:activator="{on}")
                            v-text-field(v-model="date1" label="Начало" prepend-icon="event" readonly v-on="on")
                        v-date-picker(v-model="date1"
                            locale="ru-ru"
                            __no-title
                            first-day-of-week="1"
                            :min="Date.now() | date-iso"
                            input="dateMenu1 = false"
                        )
                        v-time-picker(v-model="time1")

                    v-btn(v-if="!isStarted" color="success" block @click="publish" :loading="loadingUi.publish") Начать сейчас
                    v-btn(v-if="isStarted" block :disabled="isVoted || isFinished" @click="unpublish" :loading="loadingUi.unpublish") Снять с публикации

                v-col.pa-2(cols=6)
                    v-btn(color="warning" block :disabled="!isStarted || isFinished" @click="finish" :loading="loadingUi.finish") Закончить сейчас
                
                v-col.pa-2()
                    v-btn(block text :disabled="isStarted" :to="{name: 'poll.edit', params: {id: itemId}}") Редактировать
                v-col.pa-2(cols="auto")
                    v-btn(color="error" icon @click="deleteDialog.open()" :loading="loadingUi.remove"): v-icon mdi-delete-outline


    v-col.py-2(v-if="!isStarted" cols=12 sm=9 md=7)
        v-card
            v-card-title Голосование ещё не началось

    v-col.py-2(v-if="isFinished" cols=12 sm=9 md=7)
        v-card(color="error" dark)
            v-card-title.justify-center.py-3(primary-title): h3 Голосование окончилось

    v-col.py-2(v-if="isVoted" cols=12 sm=9 md=7)
        v-card
            v-card-title.justify-center.success--text.py-3(primary-title) Ваш голос принят, спасибо за участие!
            v-card-text
                span Выбрано: 
                b: b {{myOption.title}}

            //- v-col(cols=12): iframe#rick-roll(width="100%" height="400" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)



    v-col.py-2(v-if="isGoing && !isVoted" cols=12 sm=9 md=7)
        .poll__default(v-if="item.type === 'default'")
            v-card
                v-card-text Пока нечего смотреть {{item.type}}

        .poll__games(v-if="item.type === 'games'")
            v-card
                v-card-title(primary-title) Выбери игру
                v-card-text
                    div Начинай вводить название игры и выбери что-нибудь из списка.
                    div Названия игр берутся из Steam.
                    v-text-field(v-model="searchGamesUi.str" label="Название игры" hide-details @input="debounce(searchGames, 200)()" :loading="searchGamesUi.pending")
                    v-list
                        template(v-if="searchGamesUi.str.length > 1")
                            template(v-if="item.additive && searchGamesUi.steam.length < 8")
                                v-list-item(@click="voteGame(searchGamesUi.str)")
                                    v-list-item-title Проголосовать за "{{searchGamesUi.str}}"
                                v-divider

                            v-subheader
                                span Steam
                                v-chip.mx-2(small x-small color="primary" dark) {{searchGamesUi.steamCount}}
                            v-divider
                            template(v-for="game in searchGamesUi.steam")
                                v-list-item(@click="voteGame(game.name)")
                                    v-list-item-title {{game.name}}
                                v-divider
                            template(v-if="!searchGamesUi.steam.length")
                                v-list-item
                                    v-list-item-title Нет подходящих игр
                                v-divider

            v-card.mt-2(v-if="item.options && item.options.length && !item.hideResults")
                v-card-text
                    v-list
                        template
                            v-subheader Что выбирали другие подписчики
                            v-divider
                            template(v-for="game in item.options")
                                v-list-item(@click="voteGame(game.title)")
                                    v-list-item-title {{game.title}}
                                v-divider


    v-col.poll__results.py-2(v-if="canEdit || (isVoted || isFinished) && !isHidden" cols=12 sm=9 md=7)
        v-tabs(v-if="canEdit" v-model="resView" fixed-tabs)
            v-tab Результат
            v-tab Голоса

        v-tabs-items(v-model="resView")
            v-tab-item: v-card
                v-card-text
                    v-list
                        v-list-item.my-3(v-for="option in results" :key="option._id")
                            v-row(no-gutters)
                                v-col: v-list-item-title {{option.title}}
                                v-spacer
                                v-col.px-2(cols="auto"): v-list-item-title {{option.votes}} / {{item.votes.length}}
                                v-col(cols=12)
                                    v-progress-linear.ma-0(:value="option.progress" height="30")
                                        div.poll__results__option__percent.px-2 {{option.progress.toFixed(1)}}%

            v-tab-item: v-card
                v-card-text
                    v-data-table(:headers="votesView.headers" :items="votes" :items-per-page="votesView.itemsPerPage")
                        template(v-slot:item="props"): tr
                            td.text-start
                                v-row.flex-nowrap(align="center" no-gutters)
                                    v-col {{props.item.user.twitch.display_name}}
                                    v-col(v-if="props.item.subscribe" cols="auto"): twitch-sub(:value="props.item.subscribe")


                            td.text-start {{props.item.option.title}}
                            td.text-start {{props.item.timestamp | date-time}}



    v-dialog(v-model="deleteDialog.enabled" max-width="500")
        v-card
            v-card-title Удалить навсегда
            v-card-text Отменить это действие будет невозможно. Прям совсем. Даже через админа.
            v-card-actions
                v-spacer
                v-btn(color="warning" text @click="deleteDialog.close()") Я ещё подумаю
                v-btn(color="error" @click="remove") Удалить
