.w-roulette
    position relative
    width 100%
    height 100%
    padding 8px

    .widget__wrapper
        position relative
        width 100%
        height 100%    

        border-radius 50%
        overflow hidden

        perspective: 500px
        background-color #171B2B
        // transform-style: preserve-3d
        user-select: none

    .debug
        border 1px solid white
        background: rgba(#bad, 0.5)
        position: absolute
        top 0
        left 0
        z-index 10
        font-size: 22em

    .preloader
        position: absolute
        top: -100500px
        left: -100500px

    .roulette
        &__sectors
            height: 100%
            perspective: inherit
            transform-style: preserve-3d
            text-shadow 0 0 4px #000, 2px 2px 8px #000
            border-radius 50%
            overflow hidden

        &__sector
            position absolute
            border 1px solid #ddd
            width: 100%
            top: 50%

            color white
            font-size 3em
            // background-color: rgba(#e55, 0.9)
            // background-blend-mode: color
            // background-size: cover
            // background-position: center

            backface-visibility: hidden;
            transform-style: preserve-3d
            transform translate3d(0px, 0px, -100500px)

            &.shaded-image
                background-color: rgba(black, 0.3) !important

            &__background
                position: absolute
                top 0
                left 0
                right 0
                bottom 0
                z-index: -1

                background-color: rgba(#000, 0.2)
                background-blend-mode: color
                background-size: cover
                background-position: center



            &__description
                font-size 0.4em
                max-height 0
                opacity 0
                overflow hidden
                transition-property max-height, opacity
                transition-delay 0.3s
                transition-duration 0.7s

            &.winner
                .roulette__sector__description
                    max-height 100px
                    opacity 1

        &__icons
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            margin 0 -1em
            pointer-events: none

            .v-icon
                font-size 6em
                color white
                text-shadow: 0 0 5px black, 0 0 4px black, 0 0 3px black

        &:not(.spinning)
            cursor pointer
