v-responsive.widget.w-roulette(@click="spin()" :aspect-ratio="0.999" :class="{spinning: spinning}")
    .widget__wrapper(:style="{perspective: radius*7+'px'}")
        .preloader
            img(v-for="img in cacheImages" :src="img.src")

        v-row.roulette__loading.fill-height(v-if="loading && !loading.complete" align="center" justify="center")
            v-progress-circular(:value="loading.progressPerc" color="light-blue" size="100" width="8") {{loading.progressPerc}}%

        .roulette__sectors(v-if="loading && loading.complete")
            v-layout.roulette__sector(v-for="(sector, $index) in sectors"
                wrap align-center justify-center
                :style="[sectorStyle, sector.style, {borderWidth: item.styles.border+'px'}]"
                :class="[sector.option.color, {'shaded-image': sector.option.image, winner: sector.isWinner}]"
            )
                .roulette__sector__background(v-if="sector.option.image" :style="{backgroundImage: 'url('+(sector.option.image)+')'}")
                    .roulette__sector__background__fader
                v-layout(column wrap align-center justify-center)
                    v-flex.roulette__sector__title.text-center(:style="sectorTitleStyle(sector)") {{sector.option.title}}
                    v-flex.roulette__sector__description.text-center.animated(v-if="sector.option.description") {{sector.option.description}}
                    //- v-flex {{sector.angle.toFixed(2)}} {{sector.offset.toFixed(2)}}

        v-layout.roulette__icons(wrap align-center justify-space-between)
            v-flex(shrink): v-icon mdi-menu-right
            v-flex(shrink): v-icon mdi-menu-left
