v-container#widget-create
    template(v-if="creating")
        v-row(justify="center"): h2 Создаю виджет
        v-row(justify="center"): v-progress-circular(indeterminate)

    template(v-else)
        v-row(justify="center"): h2 Выбери виджет
        v-row
            v-col(cols=4 md=3 v-for="item in widgetTypes"): v-card.widget-type(:class="{disabled: item.disabled}")
                //- v-avatar(size="6em"): v-icon(:color="item.color" :style="item.iconStyle") {{item.icon}}
                //- v-card-title {{item.title}}
                //- v-card-text {{item.description}}
                v-row(justify="center" align="center" no-gutters)
                    v-col.px-2(cols="auto")
                        v-avatar(size="6em"): v-icon(:color="item.color" :style="item.iconStyle") {{item.icon}}
                    v-col
                        v-card-title {{item.title}}
                        v-card-text {{item.description}}
                v-card-actions.justify-center
                    v-col.pa-0(cols=10)
                        v-btn(v-if="!item.disabled" outlined block color="primary" @click="create(item)") Выбрать
                        v-btn(v-else outlined block color="primary" disabled) Скоро!



