.v-application
    background none !important
    font-family "Fira Sans", Roboto, sans-serif
    // font-weight 200
    
.v-image
    .no-img
        position: absolute
        top 50%
        left 50%
        transform: translate(-50%, -50%);
        font-size: 1.4em
        font-weight: 400
        opacity: 0.5

.v-chip
    &--small
        height 26px

    &--small&--removable
        .v-chip__content
            padding-right: 0


.theme--dark
    &.v-application
        background: #0B0D1B

    &.v-toolbar
        background-color #171B2B
