v-container#profile(fluid)
    v-row(align="center" justify="center")
        v-col.py-2(cols=12 sm=9 md=8): h1.text-center Профиль
        //- v-col(cols=12 sm=9 md=8)
            v-card.my-2.elevation-3(v-if="user._id && !user.access.isRegistered")
                v-form(ref="confirm" lazy-validation)
                    v-card-title.headline.justify-center.error--text(color="error") Требуется подтверждение
                    v-card-text
                        v-text-field(v-model="user.username" label="Логин на сайте"
                            :rules="[confirmRules.required, ...confirmRules.username]"
                            required
                        )
                        v-text-field(v-model="user.email" label="Почта"
                            :rules="[confirmRules.required, ...confirmRules.email]"
                            required type="email"
                        )
                    v-card-actions
                        v-btn(text color="success" @click="confirmUser") Сохранить
        
        v-col(cols=12 sm=9 md=8 v-if="user.twitch")
            v-card.twitch-card.my-2.elevation-3
                v-card-title.headline.py-2
                    v-icon(left) mdi-twitch
                    span Twitch
                    
                v-card-text.py-2
                    v-row(align="center")
                        v-col(cols=12)
                            v-avatar: v-img(:src="user.twitch.profile_image_url" max-width="50" aspect-ratio="1")
                            span.mx-3 {{user.twitch.display_name}}
                        
                        v-col(cols=12)
                            v-text-field(v-model="twitchBlack" label="Бесплатные подписчики" hint="Перечень ников, разделённый запятыми. Не учитываются при подсчёте очков канала" persistent-hint)
                        
                v-card-actions
                    v-btn(@click="saveUser(user)") Сохранить




        v-col(cols=12 sm=9 md=8 v-if="user.discord")
            v-card.discord-card.my-2.elevation-3
                v-card-title.headline.py-2
                    v-icon(left) mdi-discord
                    span Discord
                v-card-text.py-2
                    v-layout(wrap align-center)
                        v-img.circle(:src="user.discord.avatar" max-width="50" aspect-ratio="1")
                        span.mx-3 {{user.discord.username}}\#{{user.discord.discriminator}}

        v-col(cols=12 sm=9 md=8 v-if="showInviteSimple")
            v-row(justify="center"): v-col(cols=4): v-btn(block color="error" @click="joinClub") Хочу стать стримером!

        v-col.py-0(cols=12 sm=9 md=8)
            v-alert(:value="showInvite" text type="success" icon="mdi-heart" border="left" transition="scroll-y-transition")
                v-row(justify="center")
                    v-col.py-0(cols=12) Привет. Похоже, ты {{subScoreText}} стример. Нам как раз нужны такие, как ты. Вступай в наше сообщество, чтобы получить доступ к уникальным возможностям!
                    v-col.pb-0(cols=4): v-btn(outlined block color="indigo" @click="joinClub") Да, это я!

            v-alert(:value="showIntro" text type="success" icon="mdi-fire" border="left" transition="scroll-y-transition")
                v-row(justify="center")
                    v-col.py-0(cols=12)
                        div Отлично, доступ к инструментам стримера разблокирован.
                        div(v-if="subsCount && subsCount.score >= 100") Не забывай, что по любым вопросам можно писать мне в дискорд: Disorder#5983. А ещё я делаю кастомные виджеты на заказ.
                        div Добро пожаловать на борт!
                    v-col.pb-0(cols=4): v-btn(outlined block color="indigo" @click="showIntro = false") Всё понятно, спасибо!



        v-col(cols=12 sm=9 md=8)
            v-row(justify="center"): v-btn(text @click="logout") Logout
