.w-timer
    position relative
    padding 8px 12px
    color white
    text-align center
    border-radius 8px
    font-size 16px
    line-height 1.1
    
    &__time
        font-size 2em

        small
            font-size 0.5em
