.widget.w-timer(:style="{background: item.styles.background}")
    .w-timer__time(:class="{'red--text': isRed}")
        span {{timeStr}}
        small(v-if="showMs") .{{ms}}
    .w-timer__text {{item.settings.text}}
