.input-timer.align-center
    v-text-field(v-if="!hideD" v-model="d" label="д" hide-details @input="onInput('d')")
    span.px-1.mt-3(v-if="!hideD") :
    v-text-field(v-model="h" label="ч" hide-details @input="onInput('h')")
    span.px-1.mt-3 :
    v-text-field(v-model="m" label="мин" hide-details @input="onInput('m')")
    span.px-1.mt-3 :
    v-text-field(v-if="!hideS" v-model="s" label="сек" hide-details @input="onInput('s')")
