v-container#confirm(fluid fill-height)
    v-layout(align-center justify-center)
        v-flex(xs12 sm9 md4)
            v-card.elevation-8
                //- v-card-title Login
                v-card-text

                    div(v-if="status === 'pending'")
                        p Одно мгновение...
                        
                        
                    div(v-if="status === 'invalidToken'")
                        h3.mb-4.text-center Ошибка
                        p Ссылка не действительна.
                        
                        v-btn(text color="primary" :to="{name: 'login'}" style="width: 100%;") Назад ко входу
