.widget-edit__timer: v-row
    v-col(cols=12)
        v-card
            v-card-title Стили
            v-card-text
                v-row(align="center")
                    v-col(cols="3") Цвет фона
                    v-col
                        v-menu(offset-y :close-on-content-click="false")
                            template(v-slot:activator="{ on }")
                                v-btn(:style="{background: item.styles.background}" v-on="on")
                                span.ml-4 {{item.styles.background}}
                    
                            v-color-picker(v-model="background" mode="rgba" hide-mode-switch @input="inputBackground")


    v-col(cols=12): v-card
        v-card-title(primary-title) Настройки
        v-card-text.pt-0
            v-row(align="center")
                v-col(cols="3") Время
                v-col(cols="4")
                    input-timer(v-model="item.settings.amount" hide-d)

            v-row(align="center")
                v-col(cols="6")
                    v-text-field(v-model="item.settings.text" label="Надпись")




