v-container#poll-list
    v-row(justify="center")
        v-col.py-2(cols=12)
            h1.text-center Опросы

        v-col.py-2(cols=12 sm=9 md=7)
            v-tabs(v-model="category" fixed-tabs background-color="blue lighten-5")
                v-tab Мои
                v-tab(_disabled) Подписки
                v-tab(v-if="$root.isAdmin") Все

            v-card.poll.my-2(v-for="item in filteredItems" @click="$router.push({name: 'poll.view', params: {id: item._id}})")
                v-card-title.pt-3.pb-2(primary-title) {{item.title || "No title"}}
                v-divider(light)
                v-card-text.pt-2: v-row(no-gutters)
                    v-col.pb-2(cols=6): owner-view(:id="item.owner")
                    v-col.pb-2(cols=6)
                        v-icon.mr-2 mdi-account
                        span Проголосовало {{item.votesCount}} чел
                    v-col(cols=6)
                        v-icon.mr-2 mdi-calendar
                        span(v-if="item.publishedAt") Начало: {{item.publishedAt | date-time}}
                        span.grey--text(v-if="!item.publishedAt") Не опубликовано
                    v-col(cols=6)
                        v-icon.mr-2 mdi-calendar
                        span Доступно до: {{item.finishAt | date-time}}
                        span.primary--text(v-if="!item.finishAt") бесконечно

            v-row.my-4(v-if="loading" align="center" justify="center")
                v-col(cols="auto"): v-progress-circular(indeterminate size="50")

            v-alert.my-2(:value="!loading && !filteredItems.length" type="warning" text)
                span Ничего не найдено
                div(v-if="category === 0")
                    span Чтобы добавить парочку, нажми кнопку
                    v-icon(color="error").mx-1 mdi-plus-circle
                    span в правом нижнем углу страницы

            



    v-btn(v-if="$root.isStreamer" fixed bottom right fab color="error" dark @click="addItem"): v-icon mdi-plus
