.w-snow
    position relative
    width 100%
    height 100%
    min-height 300px
    overflow: hidden
    
    // .particle
    //     position absolute
    //     top 0
    //     left 0
    //     width 6px
    //     height 6px
    //     background rgba(255, 255, 255, 0.7)
    //     border-radius 50%

    .layer
        position absolute
        top 0
        left 0
        width 100%
        height 100%

        & > canvas
            width 100%
            height 100%
            // background #bed

        &.layer-2
            filter blur(3px)


