.widget-edit__sub-particles: v-row
    v-col(cols=12): v-card
        v-card-title Стили
        v-card-text
            v-row(align="center")
                v-col(cols=6)


    v-col(cols=12): v-card
        v-card-title(primary-title) Настройки
        v-card-text.pt-0
            v-row(align="center")
                v-col(cols=6)
                    v-checkbox(label="Фолловеры")
                v-col(cols=6)
                    v-checkbox(label="Подписки")
                v-col(cols=6)
                    v-checkbox(label="Подарочные подписки")
                v-col(cols=6)
                    v-checkbox(label="Новые подписки")


