v-card.widget-preview(@click="$router.push({name: 'widget.edit', params: {id: value._id}})"): v-row(align="center" no-gutters)
    v-col.px-2(cols="auto"): v-icon(style="font-size: 2.5em;" :color="value.type.color" :style="value.type.iconStyle") {{value.type.icon}}
    v-col.py-2
        .overline.px-3 {{value.type.title}}
        v-card-title.px-3.py-0 {{value.title || "No title"}}
        owner-view.px-3(:id="value.owner" _hide-image)

