.owner-view(align="center")
    template(v-if="user")
        v-img.circle.mr-2(v-if="!hideImage" :src="user.twitch.profile_image_url" aspect-ratio="1")
        span {{user.twitch.display_name}}
    template(v-if="loading")
        v-progress-linear(indeterminate)
