#widget-edit
    // background #bed

    .widget__save-btns
        margin-top 40px
        background: rgba(#fff, 0.5)
        z-index 2

    .col-right
        // Сомнительное решение. Если не будет нужной поддержки браузеров, придётся оборачивать в ещё один v-row, v-col и делать sticky уже их
        display flex
        flex-wrap: wrap

        & > .row
            width 100%
            // height max-content //?
            height fit-content
        
        .widget__save-btns
            place-self flex-end
