v-container#widget-edit(fluid)
    template(v-if="loading")
        v-row.my-4(align="center" justify="center")
            v-col(cols="auto")
                v-progress-circular(indeterminate size="50")

    template(v-else)
        v-row(justify="center")
            v-col.text-center.py-2(cols=12)
                h2 {{item.title || "No title"}}
                .overline {{item.type.title}}

            v-col(cols=12 sm=8): v-card.my-2
                v-card-text.no-gutters
                    v-row(justify="end" no-gutters): owner-view(:id="item.owner")
                    v-col(cols=12)
                        v-text-field(v-model="item.title" label="Название" hide-details)

                v-card-actions: v-row(align="center" no-gutters)
                    v-col.mx-2: v-btn(text block color="primary" @click="openWidget") Открыть виджет
                    v-col.mx-2
                        v-btn(v-if="!widgetLinkShow" text block @click="widgetLinkShow = true") Показать ссылку
                        v-btn(v-if="widgetLinkShow" text block @click="widgetLinkShow = false") Скрыть ссылку
                    v-col.mx-2(cols="auto"): v-btn(text block color="red" @click="deleteDialog.open()" :loading="loadingUI.delete"): v-icon mdi-delete-outline


                v-expand-transition
                    div(v-if="widgetLinkShow")
                        v-divider
                        v-col: v-text-field(:value="widgetLink" label="Ссылка на виджет" readonly hide-details @click="copyWidgetLink")



            v-col: v-row(justify="center")
                v-col.py-1(cols=8 v-for="action in item.type.actions")
                    v-btn(outlined block color="purple" @click="sendAction(action.method)" :disabled="action.disabled" v-if="action.visible !== false")
                        v-icon.mx-1 {{action.icon}}
                        span {{action.title}}
                //- v-col.py-1(cols=8): v-btn(text block color="purple" disabled) Действие 2
                    

        v-row(nowrap)
            v-col.pt-0(cols=12 sm=8)
                v-row
                    v-col(cols=6): v-card
                        v-card-title Расположение
                        v-card-text
                            input-position(v-model="item.position")
                            v-alert.mt-1.mb-0(v-if="item.type.responsive" type="warning")
                                | Внимание! Виджет растягивается по ширине. Рекомендую проверить поведение в отдельном окне.


                    v-col(cols=6): v-card
                        v-card-title Анимация
                        v-card-text В процессе

                component(:is="editTemplate")



            v-col.col-right.pt-0
                v-row.sticky-top(style="top: 50px;"): v-col
                    v-card
                        //- v-card-title Preview
                        v-card-text.pa-0
                            v-responsive(v-if="item.type.fullScreen" :aspect-ratio=4/3)
                                component(ref="widget" :is="'w-'+item.type.name" :item="item")

                            component(v-else ref="widget" :is="'w-'+item.type.name" :item="item")

                v-row.widget__save-btns.sticky-bottom(justify="center"): v-col(cols=8)
                    v-card: v-card-actions.no-gutters
                        v-col: v-btn(block color="primary" @click="save" :loading="loadingUI.save") Сохранить
                        v-col: v-btn(block text @click="cancel" :loading="loadingUI.cancel") Отмена


    v-dialog(v-model="deleteDialog.enabled" max-width="500")
        v-card
            v-card-title Удалить навсегда
            v-card-text Отменить это действие будет невозможно. Прям совсем. Даже через админа.
            v-card-actions
                v-spacer
                v-btn(color="warning" text @click="deleteDialog.close()") Я ещё подумаю
                v-btn(color="error" @click="remove") Удалить
