.slide-right
    &-enter-active, &-leave-active
        transition opacity, transform
        transition-duration: 0.3s

    &-enter, &-leave-to
        opacity 0
        transform: translateX(-100%)
