.widget-edit__roulette
    .widget__option
        .v-list__tile
            height auto

        .v-rating
            margin-top 6px

    @media only screen and (min-width: 960px)
        .widget__options
            .v-divider
                display: none


.widget__image-dialog
    .v-image .layout
        background-color rgba(black, 0.3)
