.widget-edit__roulette: v-row
    //- v-col(cols=12)
        v-card
            v-card-title Стили

    v-col(cols=12)
        v-card
            v-card-title Стили
            v-card-text.no-gutters
                v-col(cols=12): v-slider(v-model="item.styles.border" label="Толщина рамки" thumb-label="always" min=0 max=10 ticks="always")
    
    v-col(cols=12)
        v-card
            v-card-title Вероятности
            v-card-text
                input-chance(v-model="item.settings.rarityTable")


    v-col(cols=12): v-card
        v-card-title(primary-title) Опции рулетки
        v-card-text.pt-0
            v-list.widget__options(ref="options")
                v-divider
                template(v-for="option in item.settings.options")
                    v-list-item.widget__option: v-layout(wrap)
                        v-flex(xs12 md6): v-layout(align-center)
                            //- v-flex: v-checkbox.mt-0(v-model="option.enabled" hide-details)
                            v-flex: v-text-field.pt-0(v-model="option.title" autofocus placeholder="Текст" hide-details)
                            v-flex(shrink)
                                v-btn(icon text :color="option.image ? 'warning' : 'grey'" @click="openImageDialog(option)"): v-icon mdi-image-multiple
                        v-spacer
                        v-flex.mx-1(shrink): v-rating.mt-0(v-model="option.rarity" hover :color="item.settings.rarityTable[option.rarity-1].color")
                        v-spacer
                        v-flex(shrink): v-btn(icon text color="error" @click="deleteOption(option)"): v-icon mdi-delete
                    v-divider

                v-list-item
                    v-btn(color="success" @click="addOption") Добавить



    v-dialog(v-model="imageDialog.enabled" max-width="500")
        v-card.widget__image-dialog(v-if="imageDialog.data")
            v-card-title(primary-title) Добавить картинку
            v-img.white--text(v-if="imageDialog.data.image" :src="imageDialog.data.image"): v-layout(wrap fill-height align-center justify-center)
                v-col(cols="auto"): h1 {{imageDialog.data.title}}
            v-card-text
                v-text-field(v-model="imageDialog.data.image" label="Адрес картинки" hide-details)
                v-textarea(v-model="imageDialog.data.description" label="Здесь можно указать какие-нибудь подробности" hide-details)
            v-card-actions
                v-spacer
                v-btn(text color="success" @click="saveImage") Сохранить
                v-btn(text color="error" @click="removeImage") Удалить картинку

