.w-subscore
    position relative
    border-radius 8px
    padding 8px 12px

    font-family "Mechanic-Regular", Teko, sans-serif
    // font-weight 300
    font-size 32px
    text-align center
    line-height 1.1
    backdrop-filter blur(13px)

    &__text
        &.shadow
            color white
            text-shadow 0 2px 2px #000, 0 0 5px #000, 0 0 8px #000
        
        &.clip-bg
            background: -webkit-linear-gradient(#eee 40%, #555);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
