.widget-edit__subscore: v-row
    v-col(cols=12): v-card
        v-card-title Стили
        v-card-text
            v-row(align="center")
                v-col(cols=6)
                    v-checkbox(v-model="item.styles.shadow" label="Тень" hide-details)
                v-col(cols=6)
                    v-checkbox(v-model="item.styles.gradient" label="Градиент" hide-details)


    v-col(cols=12): v-card
        v-card-title(primary-title) Настройки
        v-card-text.pt-0
            v-row(align="center")
                v-col(cols=12)
                    v-text-field(v-model="item.settings.text" label="Текст" hide-details)
                v-col(cols=12)
                    div В тексте можно использовать переменные:
                    ul
                        li
                            span.code $count
                            span  &mdash; количество подписчиков
                        li
                            span.code $score
                            span  &mdash; количество сабпоинтов


