.navbar
    // background-color #171B2B

    .logo
        $size = 56px
        display block
        position relative
        width $size
        height $size
        border-radius 50%
        overflow hidden
        cursor pointer

        & > img
            position absolute
            top 0
            left 0
            width 100%
            height 100%

        &__gif
            display none

        &:hover
            .logo__gif
                display block


.navbar.theme--dark
    // background-color #171B2B
