v-app-bar.navbar(v-if="visible" dense fixed app)
    //- v-toolbar-title Navbar
    .logo.mr-2
        img.logo__static(src=require("@/assets/logo/logo-b.png"))
        img.logo__gif(src=require("@/assets/logo/logo-b.gif"))
    v-toolbar-items
        v-btn(v-if="isStreamer" text :to="{name: 'widget-list'}") Виджеты
        v-btn(v-if="isStreamer" text :to="{name: 'poll-list'}") Опросы
        v-btn(v-if="$root.isAdmin" text :to="{name: 'users'}") Пользователи
    v-spacer
    v-toolbar-items
        v-btn(v-if="!isAuthenticated" text :to="{name: 'auth.login'}") Войти
        v-btn(v-if="isAuthenticated" text :to="{name: 'profile'}") {{user.username || 'Профиль'}}
