v-footer.app-footer.justify-center.align-center.pa-0.no-gutters(v-if="visible")
    v-col.red.text-center(cols=12 lg=6)
        span Проект в разработке, в любой момент что-то может пойти не так.

    v-col.text-center(cols=12 lg=6)
        span Поэтому по любым вопросам обращайтесь в
        a.pl-1(href="https://discord.gg/VNtAbN" target="_blank") Discord
        v-icon.pl-1 mdi-discord
        span.pl-4 &copy; Disorder
