v-container#roulette-list
    v-tabs(v-model="category" fixed-tabs background-color="blue lighten-5")
        v-tab Мои
        v-tab(_disabled) Команда
        v-tab(v-if="$root.isAdmin") Все

    v-row
        v-col(v-for="item in filteredItems" cols=4 md=3)
            span {{item.name}}
            widget-preview(:value="item")

    v-row(align="center" justify="center"): v-col(v-if="loading" cols="auto"): v-progress-circular(indeterminate size="50")

    v-alert.my-2(:value="!loading && !filteredItems.length" type="warning" text)
        span Ничего не найдено
        div(v-if="category === 0")
            span Чтобы добавить парочку, нажми кнопку
            v-icon(color="error").mx-1 mdi-plus-circle
            span в правом нижнем углу страницы


    v-btn(v-if="$root.isStreamer" fixed bottom right fab color="error" dark @click="addItem"): v-icon mdi-plus
