.widget-edit__timer: v-row
    v-col(cols=12): v-card
        v-card-title Стили
        v-card-text
            v-row(align="center")
                v-col(cols="3") Цвет снежинок
                v-col
                    v-menu(offset-y :close-on-content-click="false")
                        template(v-slot:activator="{ on }")
                            v-btn(:style="{background: item.styles.color}" v-on="on")
                            span.ml-4 {{item.styles.color}}
                
                        v-color-picker(v-model="colorInput" mode="rgba" hide-mode-switch)


    v-col(cols=12): v-card
        v-card-title(primary-title) Настройки
        v-card-text.pt-0
            v-col(cols=12): v-slider(v-model="item.settings.count" label="Количество снежинок" min=50 max=1000 step=50 thumb-label="always" hide-details)
            v-col(cols=12): v-slider(v-model="item.settings.velocity[1]" label="Скорость падения" min=1 max=5 thumb-label="always" hide-details)
            v-col(cols=12): v-slider(v-model="item.settings.velocity[0]" label="Скорость ветра" min=-5 max=5 thumb-label="always" hide-details)
            v-col(cols=12): v-checkbox(v-model="item.settings.parallax" label="Параллакс" hide-details)



