.v-application
    .v-toolbar
        & .v-input
            margin 0
            align-items: center
        
        & .v-select
            padding-top 4px


    .v-select
        padding-top 0

        &__selections
            width 100%
            overflow hidden
            white-space nowrap
            text-overflow: ellipsis
        
        
    .v-input--checkbox
        margin-top 0
        padding-top 0

    .v-btn.v-btn--text.v-btn--icon
        width 2.5em
        height 2.5em


    // .v-text-field
    .v-text-field--box
        background-color rgba(255,255,255,0.05)
        // font-size: 14px
        // border: 1px solid #eee
        border-radius 4px

        .v-input__prepend-outer
            margin: 8px 0px 0 8px

        .v-input__slot
            min-height 34px
            background: transparent

            &:hover
                background: transparent

            &:before, &:after
                display: none

        .v-label
            top 10px

            &--active
                transform translateY(-24px) scale(.75)
                // transform translateY(-10px) scale(.7)

        input
            margin-top: 4px
            min-height: 30px


    .v-chip
        &.v-size--small
            height 24px

            .v-chip__close.v-icon--right
                margin-right -12px
                font-size 24px
                max-width 24px
                max-height 24px


    .v-image
        .no-img
            position: absolute
            top 50%
            left 50%
            transform: translate(-50%, -50%);
            font-size: 1.4em
            font-weight: 400
            opacity: 0.5


    .v-card
        &__close
            position absolute
            top 0
            right 0


    .v-data-table.fill-height
        display: flex
        flex-direction: column

        .v-data-table__wrapper
            flex 1 auto
            overflow auto
