#login
    .background
        position absolute
        top 0
        left 0
        width 100%
        height 100%

    .btn-login
        width 100px
        height 100px
        transition-duration 2s

        .v-icon
            font-size 40px
