v-container#login(fluid fill-height)
    canvas.background(ref="canvas")
    v-row(align="center" justify="center" no-gutters)
        v-col(cols="auto")
            transition(name="fade-transition")
                v-btn.btn-login(v-if="twitchBtnDisplay" icon dark href="/api/auth/twitch/login" @click="loginAnimation('twitch')")
                    v-icon mdi-twitch
