v-row.input-position(justify="center" no-gutters)
    v-col.pa-1(cols=4 v-for="button in buttons")
        v-btn(block :outlined="button !== activeBtn" @click="onInput(button)" color="primary lighten-1")
            v-icon(_v-if="button === activeBtn") {{button.icon}}