doctype html
html
    head
        meta(charset="utf-8")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
        //- link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="favicon.png" type="image/png")
        
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Fira+Sans:100,200,300,400,500,700")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko:500,600,700")
        link(rel="stylesheet" href="https://www.nomail.com.ua/api/font-face/124741.css")
        title Subday! 🎉

    body
        #app: v-app(:class="{transparent: $store.state.ui.transparent}")
            //- v-navigation-drawer(app)
            navbar
            v-content
                transition(name="slide-right")
                    router-view
            app-footer

            notifications

            template(v-if="false"): include ./routes/main/template.pug

        div.
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                ym(54516442, "init", {
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/54516442" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
            