html, body
    min-height: 100vh
    // font-family: Roboto, sans-serif
    color: black
    margin 0
    padding 0

html
    overflow auto

[disabled]
    cursor: not-allowed

ul
    list-style: none
    padding-left: 0

a, a:hover, a:active
    color: inherit
    // text-decoration: underline

canvas
    position: relative 


.absolute-full
    position absolute
    top 0
    left 0
    right 0
    bottom 0

.absolute-center
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)

.sticky-top
    position sticky
    position -webkit-sticky
    top 0
    z-index 1

.sticky-bottom
    position sticky
    position -webkit-sticky
    bottom 0
    z-index 1


img.size-contains
    max-width 100%
    max-height 100%

.text-ellipsis
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    
.ru-quotes
    &:before
        content: '“'
    &:after
        content: '”'


.space-l, .space-lr
    &:before
        content: ' '
.space-r, .space-lr
    &:after
        content: ' '

.animated
    transition all ease 0.2s

// .clickable:not([disabled])
//     cursor pointer

hr.vertical
    width 0
    height 100%
    
.circle
    border-radius 50%
