.input-chance
    &__legend
        $color = rgba(red, 0.4)
        background-image: linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color),
            linear-gradient(45deg, $color 25%, transparent 25%, transparent 75%, $color 75%, $color);
        background-size: 8px 8px;
        background-position: 0 0, 4px 4px;
        background-repeat: repeat

        & > .flex
            height 8px
            