.input-chance
    v-row.input-chance__legend(no-gutters)
        v-col.py-2(v-for="chance in value" cols="auto" :class="chance.color" :style="{width: chance.value+'%'}")
    v-row(v-for="chance in value" align="center" no-gutters)
        v-col: v-slider.mt-0(v-model="chance.value" @input="onInputChance(chance)" :color="chance.color" hide-details v-slider-fix)
        v-col(cols="auto"): v-text-field.pt-0.mt-0.ml-3(v-model="chance.value" @input="onInputChance(chance)" hide-details style="width: 2em;")
        v-col(cols="auto" style="align-self: center;") %
    v-alert.mb-0.animated(:value="chancesSum < 100" type="error" transition="slide-y-transition") Сумма вероятностей должна быть 100%!
