v-layout.poll__edit( wrap justify-center)    
    v-flex.py-2(xs12 sm9 md7)
        v-card
            v-card-text: v-layout(wrap)
                v-layout(align-center @click="ownerDialogOpen")
                    v-spacer
                    v-img.circle.mx-2(:src="owner.twitch.profile_image_url" aspect-ratio="1" style="max-width: 2.5em")
                    span {{owner.twitch.display_name}}
                v-flex(xs12): v-text-field(v-model="item.title" label="Название")
                v-flex(xs12): v-textarea(v-model="item.description" label="Описание")

            v-divider
            v-card-text(v-if="!isStarted")
                v-layout(wrap): v-flex(xs12)
                    v-select(v-model="item.type" :items="types" hide-details label="Тип голосования")
                    v-checkbox(v-model="item.multiple" :disabled="item.type === 'games'" hide-details label="Мультивыбор (WIP)")
                    v-checkbox(v-model="item.additive" hide-details label="Расширяемый список")
                    v-checkbox(v-model="item.hideResults" hide-details label="Закрытое голосование")


    v-flex.py-2(v-if="!isStarted" xs12 sm9 md7)
        .poll__default(v-if="item.type === 'default'")
            v-card
                v-card-text Пока нечего редактировать

        //- .poll__games(v-if="item.type === 'games'")
            v-card
                v-card-text Пока нечего редактировать


    v-flex.py-2(xs12 sm9 md7)
        v-layout.py-3(justify-center)
            v-btn(color="primary" @click="save" :loading="loadingUi.save") Сохранить изменения
            v-btn(text @click="cancel" :loading="loadingUi.cancel") Отмена


    v-dialog(v-model="ownerDialog.enabled" max-width="500")
        v-card
            v-card-title Сменить владельца
            v-card-text
                v-text-field(v-model="ownerDialog.search" label="Имя или логин")
                v-list
                    v-list-item(v-for="user in filteredUsers" @click="setOwner(user)")
                        v-list-item-avatar: img(:src="user.twitch.profile_image_url")
                        v-list-item-content
                            v-list-item-title {{user.twitch.display_name}}
                            v-list-item-subtitle /{{user.twitch.login}}