.twitch-sub
    position: relative
    display: inline-block

    $size = 28px

    .sub__badge, .sub__chip
        display inline-flex
        height $size
        // max-width $size
        border-radius $size * 0.5
        border 1px solid grey
        align-items: center
        justify-content: center
        white-space: nowrap

        .v-icon
            width $size - 2
            font-size: $size - 10


    .sub__chip
        position absolute
        top 0
        left 0

        visibility hidden
        opacity 0
        transition all ease 0.3s
        transition-delay: 0.3s


        &__text
            max-width 0
            white-space nowrap
            overflow hidden
            transition all ease 0.5s
            transition-delay: 0s


    &:hover
        .sub__chip
            visibility visible
            opacity 1
            // max-width 300px
            transition-delay: 0s


            &__text
                max-width 300px
                margin-right $size * 0.25
                transition-delay: 0.5s



    &.tier--1000
        $color = #2196F3 // blue
        $bg = lighten($color, 97%)
        $bg2 = lighten($color, 85%)

        .sub__badge
            background $bg
            color $color
            border-color $color
        
        .sub__chip
            background $bg2
            color $color
            border-color $color

        .v-icon
            color $color


    &.tier--2000
        $color = #4CAF50 // green
        $bg = lighten($color, 97%)
        $bg2 = lighten($color, 89%)

        .sub__badge
            background $bg
            color $color
            border-color $color
        
        .sub__chip
            background $bg2
            color $color
            border-color $color

        .v-icon
            color $color


    &.tier--3000
        $color = #FF9800 // orange
        $bg = lighten($color, 97%)
        $bg2 = lighten($color, 85%)

        .sub__badge
            background $bg
            color $color
            border-color $color
        
        .sub__chip
            background $bg2
            color $color
            border-color $color

        .v-icon
            color $color
