v-container#profile
    v-row(justify="center"): h2 Пользователи
    v-row(justify="center")
        v-col(cols=12 sm=8): v-card
            v-card-text
                span {{tableOptions}}
                v-row(align="center")
                    v-col(cols=4): v-text-field(v-model="filter.username" label="Поиск по имени" hide-details)
                    v-spacer
                    v-col(cols="auto"): v-checkbox(v-model="filter.isStreamer" label="Стример" hide-details)
                    v-col(cols="auto"): v-checkbox(v-model="filter.isAdmin" label="Админ" hide-details)


        v-col(cols=12 sm=8)
            v-data-table(:headers="headers" :items="items"
                :loading="loading"
                :options.sync="tableOptions"
                :_server-items-length="itemsCount"
            )
                template(v-slot:item.image="{ item }")
                    v-avatar(size=40): v-img(:src="userAvatar(item)")
                template(v-slot:item.username="{ item }")
                    span {{item.twitch.display_name}}
                template(v-slot:item.twitch.subscribers.score="{ item }")
                    span(v-if="item.twitch.subscribers") {{item.twitch.subscribers.score}}
                    v-btn(icon text small @click="updateSubs(item)"): v-icon mdi-refresh
                template(v-slot:item.links="{ item }")
                    v-btn.mx-1(v-if="user.twitch" icon text small color="twitch" :href="'https://twitch.tv/'+item.twitch.login" target="_blank"): v-icon.text--black mdi-twitch
                template(v-slot:item.access.isStreamer="{ item }")
                    v-icon(v-if="item.access.isStreamer" color="green") mdi-cctv
                template(v-slot:item.access.isAdmin="{ item }")
                    v-icon(v-if="item.access.isAdmin" color="warning") mdi-star-face

